TZ=Europe/Paris
DATABASE_PATH=/appdata/database.db

VODUM_TRUST_PROXY=1
VODUM_ALLOWED_NETS=127.0.0.1/32,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

VODUM_LOG_DIR=/appdata/logs
VODUM_BACKUP_DIR=/appdata/backups
VODUM_DEBUG=0