# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite DB
*.db
*.sqlite
*.sqlite3

# Environment
.env
venv/
.venv/
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-data/

# Files
create-container-test.sh
get-container.sh