{% extends "base.html" %}
{% set active_page = 'backup' %}

{% block title %}{{ t("backup") }} - VODUM{% endblock %}
{% block header_title %}{{ t("backup_restore") }}{% endblock %}
{% block header_subtitle %}{{ t("backup_subtitle") }}{% endblock %}

{% block content %}

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

  <!-- Création backup -->
	<div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
	{% include "backup/_retention_settings.html" %}
	{% include "backup/_manual_backup.html" %}
	</div>

  <!-- Restore & import -->
	<div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
	  {% include "backup/_restore_upload.html" %}
	  {% include "backup/_tautulli_import.html" %}
	</div>



</div>

<!-- Liste des backups existants -->
<div class="mt-8 bg-slate-900 border border-slate-800 rounded-2xl p-6">
  {% include "backup/_backups_list.html" %}
</div>

{% endblock %}
